<div class="container mt-4 ms-50">
  <%= link_to '← Back', meal_plans_path(@meal_plan), class: "btn btn-outline-secondary mb-3" %>
   <div class="card shadow">
    <div class="card-body">
      <h1 class="mt-4 mb-2 text-center">New Meal plan</h1>
        <%= render "form", meal_plans: @meal_plan %>
    </div>
  </div>
</div>
