<div class="container mt-4">
  <%= link_to '← Back', meal_plans_path, class: "btn btn-outline-secondary mb-3" %>
  <div class="card shadow">
    <div class="card-body">
      <h1 class="mt-4 mb-2 text-center">New Meal Plan</h1>
      <%= render "form", meal_plan: @meal_plan %>
    </div>
  </div>
</div>
