.alert {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem !important;
}

.form-select {
  border-radius: 50px !important;
  padding: 8px 16px;
}

.btn-success {
  border-radius: 50px !important;
}
